html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --active-color: violet;
  --background-color: #2f303a;
  --footer-color: #ffffff;
}

body {
  margin: 0;
  background-color: #fdfafa;
  color: rgba(0.8);

  font-family: Roboto, sans-serif;
  letter-spacing: -0.025em;
}

a {
  font-family: Roboto, sans-serif;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--accent-color);
}

a:active {
  color: var(--active-color);
}

.web {
  color: #2196f3;
  font-family: raleway, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

.buttonprimary {
  width: 200px;
  height: 50px;
  color: #fdfafa;
  background-color: #2196f3;
}

.buttonprimary:hover,
.buttonprimary:focus {
  color: #000;
}

.a .linkcuurent {
  color: #2196f3;
}

p {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

.buttonmenu{
  height: 38px;
  color: var(--title-text-color);
  background-color: var(--footer-color);
}

.buttonmenu:hover,.buttonmenu:focus{
  color: var(--footer-color);
  background-color: var(--accent-color);
}

h1 {
  margin: 0;
  color: #ffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.006;
  text-align: center;
}

h2 {
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
}

.hero {
  height: 600px;
  background-color: #2f303a;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*nav*/

.main-nav {
  display: flex;
  align-items: center;
  padding-bottom: 0px;
  height: 80px;
}

/*site nav*/

.site-nav {
  display: flex;
  margin-left: 95px;
}

.site-nav a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav li + li {
  padding-left: 50px;
}

/*adres nav*/

.adres {
  display: flex;
  margin-left: auto;
}

.adres a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.adres li + li {
  padding-left: 50px;
}

.title {
  width: 696px;
  height: 120px;
  padding-top: 200px;
  padding-bottom: 280px;
}

.info {
  display: flex;
}

.info li + li {
  padding-left: 30px;
}

.work {
  display: flex;
}

.work li + li {
  padding-left: 30px;
}

.team {
  display: flex;
}

.team li + li {
  padding-left: 30px;
  text-align: center;
}

.footer {
  background-color: var(--background-color);
}

.footer a {
  color: var(--footer-color);
}

.footer p {
  color: var(--footer-color);
}

/*page 2*/

.sectionmenu{
  padding-top: 94px;
  padding-bottom: 94px;
}

.menu {
  padding-bottom: 34px;
}

.menu-button {
  display: flex;
  margin: 0;
  justify-content: center
}

.menu-button li + li {
  margin-left: 5px;
  height: 38px;
}

.selection {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

.selectionpng{
margin-right: 30px;
margin-bottom: 30px;
}

.selection :nth-child(3n){
  margin: 0;
}

