body {
  background-color: #fdfafa;
  color: rgba(0.0.8);
}

a {
  display: block;
  color: #212121;
}

a:hover,
a:focus {
  color: #2196f3;
}

a:active {
  color: violet;
}

.web {
  color: #2196f3;
}
ul {
  list-style: none;
}
.buttonprimary {
  color: #fdfafa;
  background-color: #2196f3;
}
.buttonprimary:hover,
.buttonprimary:focus {
  color: #000;
}
.a .linkcuurent {
  color: #2196f3;
}
